{% extends 'base.html' %}

{% block head %}
<title>Highlight Products</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/DSLR-nikon.css')}}">
{% endblock %}


{% block main %}

<style>
.prod-info-column {
    border: 1px solid #CEEFFF;
    margin-bottom: 20px;
    margin-top: 10px;
    background: #fff;
    padding: 5px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(21,180,255,0.5);
    box-shadow: 0 1px 1px 0 rgba(21,180,255,0.5);
}

.prod-info-column .image {
    background-color: #EBF8FE;
    display: block;
    min-height: 230px;
    overflow: hidden;
    position: relative;
    border: 1px solid #CEEFFF;
    padding-top: 35px;
}

.prod-info-column .column {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative;
    background: #fff
}

.product-content .details h5 a {
    color: #2f383d;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    padding-left: 0;
    margin-left: 0
}

.prod-info-column .details h5 a span {
    color: #9aa7af;
    display: block;
    font-size: 13px
}

.prod-info-column .details span.tag1 {
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    height: 50px;
    padding: 13px 0;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 50px
}

.prod-info-column .details span.sale {
    background-color: #21c2f8
}

.prod-info-main .details span.discount {
    background-color: #71e134
}

.prod-info-column .details span.hot {
    background-color: #fa9442
}

.prod-info-column .description {
    font-size: 12.5px;
    line-height: 20px;
    padding: 10px 14px 16px 19px;
    background: #fff
}

.prod-info-column .product-info {
    padding: 11px 19px 10px 18px
}

.prod-info-column .column a.add-to-cart {
    color: #2f383d;
    font-size: 13px;
    padding-left: 16px
}

.prod-info-column name.a {
    padding: 5px 10px;
    margin-left: 16px
}

.product-info.form .btn {
    padding: 6px 12px;
    margin-left: 12px;
    margin-top: -10px
} 

.product-block .product-details p.price-container span,
.prod-info-column .details p.price-container span,
.shipping table tbody tr td p.price-container span,
.shopping-items table tbody tr td p.price-container span {
    color: #21c2f8;
    font-family: Lato, sans-serif;
    font-size: 24px;
    line-height: 20px
}



.column .image span.tag2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 10px 0;
    color: #fff;
    font-size: 11px;
    text-align: center
}

.column .image span.tag3 {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 55px;
    height: 35px;
    border-radius: 50%;
    padding: 10px 0;
    color: #fff;
    font-size: 11px;
    text-align: center
}

.column .product-image span.sale {
    background-color: #57889c;
}

.column .image span.hot {
    background-color: #a90329;
}

.column .image span.special {
    background-color: #3B6764;
}
.shop-btn {
    position: relative
}

.shop-btn>span {
    background: #a90329;
    display: inline-block;
    font-size: 10px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    font-weight: 700;
    border-radius: 50%;
    padding: 2px 4px 3px!important;
    text-align: center;
    line-height: normal;
    width: 19px;
    top: -7px;
    left: -7px
}

.details hr {
    padding: 0 0 5px!important
}

.details .glyphicon {
    color: #3276b1
}

.details .image {
    border-right: 0px solid #fff !important
}

.details .name {
    margin-top: 0;
    margin-bottom: 0
}

.details .name small {
    display: block
}

.details .name a {
    margin-left: 0
}

.details .price-container {
    font-size: 24px;
    margin: 0;
    font-weight: 300;
    
}

.details .price-container small {
    font-size: 12px;
    
}

.details .fa-2x {
    font-size: 16px!important
}

.details .fa-2x>h5 {
    font-size: 12px;
    margin: 0
}

.details .fa-2x+a,
.details .fa-2x+a+a {
    font-size: 13px
}

.details .certified {
    margin-top: 10px
}

.details .certified ul {
    padding-left: 0
}

.details .certified ul li:not(first-child) {
    margin-left: -3px
}

.details .certified ul li {
    display: inline-block;
    background-color: #f9f9f9;
    padding: 13px 19px
}

.details .certified ul li:first-child {
    border-right: none
}

.details .certified ul li a {
    text-align: left;
    font-size: 12px;
    color: #6d7a83;
    line-height: 16px;
    text-decoration: none
}

.details .certified ul li a span {
    display: block;
    color: #21c2f8;
    font-size: 13px;
    font-weight: 700;
    text-align: center
}

.details .message-text {
    width: calc(100% - 70px)
}

@media only screen and (min-width:1024px) {
    .prod-info-column div[class*=col-md-4] {
        padding-right: 0
    }
    .prod-info-column div[class*=col-md-8] {
        padding: 0 13px 0 0
    }
    .column div[class*=col-md-5] {
        padding-right: 0
    }
    .column div[class*=col-md-7] {
        padding: 0 13px 0 0
    }
    .prod-info-column .product-image {
        border-right: 1px solid #dfe5e9
    }
    .prod-info-column .product-info {
        position: relative
    }
}
</style>

<div class="content">
    <div class="col-xs-12 col-md-6">
      <!-- First product box start here-->
      <div class="prod-info-column.column">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
              <div class="image"> 
                <img src="static/image/D3500kit.jpg" class="img-responsive"> 
                <span class="tag2 hot">
                  HOT
                </span> 
              </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
            <table>
              <tr>
                <th>Product ID</th>
                <td>32456</td>
              </tr>
              <tr>
                <th>Product Name:</th>
                <td>Nikon D3500 with AF-P DX NIKKOR 18-55mm f/3.5-5.6G VR kit </td></tr>
              <tr>
                <th>Price:</th>
                <td>$3880</td></tr>
            </table>
            <div class="description">
              <p>Weight (body only): 550g</p>
              <p>Sensor's Effective Pixel: 24.20 mega pixel</p>
              <p>Sensor Format: APS-C</p>
              <p>screen size: 3.0 inch</p>
              <p>Size: 124 X 97 X 69.5 mm</p>
              <p>Storing media: SD/SDHC/SDXC </p>
              <p>Largest image resolution: 6000 X 4000</p>
            </div>
            <div class="product-info-form">
              <div class="row">
                <div class="col-md-12"> 
                  <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                </div>
                <div class="col-md-12">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    <!-- end product -->
  </div>

    <div class="col-xs-12 col-md-6">
      <!-- First product box start here-->
      <div class="prod-info-column.column">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
              <div class="image"> 
                <img src="static/image/D7500kit.jpg" alt="194x228" class="img-responsive"> 
                <span class="tag2 hot">
                  HOT
                </span> 
              </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
            <table>
              <tr>
                <th>Product ID</th>
                <td>32675</td>
              </tr>
              <tr>
                <th>Product Name:</th>
                <td>Nikon D7500 w/AF-P 18-55mm Kit </td></tr>
              <tr>
                <th>Price:</th>
                <td>$7150</td></tr>
            </table>
            <div class="description">
              <p>Weight:720g</p>
              <p>Sensor's Effective Pixel: 20.88 mega pixel</p>
              <p>Sensor Format: APS-C</p>
              <p>LCD screen size: 3.5 inch</p>
              <p>Size: 135.5 X 104 X 72.5 mm</p>
              <p>Storing media: SD/SDHC/SDXC </p>
              <p>Largest image resolution: 5568 X 3712</p>
            </div>
            <div class="product-info-form">
              <div class="row">
                <div class="col-md-12"> 
                  <a href="{{ url_for('addTocart')}}" class="btn btn-danger">Add to cart</a>
                </div>
                <div class="col-md-12">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- end product -->
  </div>

  <div class="container">
    <div class="col-xs-12 col-md-6">
    <!-- First product box start here-->
      <div class="prod-info-column.column">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
              <div class="image"> 
                <img src="static/image/D850kit.jpg" alt="194x228" class="img-responsive"> 
                <span class="tag3 no-stock">
                  NEW PRODUCT
                </span> 
              </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
            <table>
              <tr>
                <th>Product ID</th>
                <td>32785</td>
              </tr>
              <tr>
                <th>Product Name:</th>
                <td>Nikon D850 with AF-S NIKKOR 24-120MM F/4G ED VR kit </td></tr>
              <tr>
                <th>Price:</th>
                <td>$23500</td></tr>
            </table>
            <div class="description">
              <p>Weight (body only): 1005g</p>
              <p>Sensor's Effective Pixel: 45.70 mega pixel</p>
              <p>Sensor Format: 35mm Full Frame</p>
              <p>LCD screen size: 3.2 inch</p>
              <p>Size: 146 X 124 X 78.5 mm</p>
              <p>Storing media: XQD/SD/SDHC(UHS-II compatable)/SDXC(UHS-II compatable)</p>
              <p>Largest image resolution: 8256 X 5504</p>
            </div>
            <div class="product-info-form">
              <div class="row">
                <div class="col-md-12"> 
                  <a href="{{ url_for('addTocart')}}" class="btn btn-danger">Add to cart</a>
                </div>
                <div class="col-md-12">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- end product -->
  </div>

    <div class="col-xs-12 col-md-6">
      <!-- First product box start here-->
      <div class="prod-info-column.column">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
              <div class="image"> 
                <img src="static/image/D7200kit.jpg" alt="194x228" class="img-responsive"> 
                <span class="tag2 SOLD">
                  SOLD OUT
                </span> 
              </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
            <table>
              <tr>
                <th>Product ID</th>
                <td>32847</td>
              </tr>
              <tr>
                <th>Product Name:</th>
                <td>Nikon D7200 w/AF-S NIKKOR 18-200mm f/3.5-5.6G ED VR II Kit </td></tr>
              <tr>
                <th>Price:</th>
                <td>$7300</td></tr>
            </table>
            <div class="description">
              <p>Weight (with battery): 765g</p>
              <p>Sensor's Effective Pixel: 2420 mega pixel</p>
              <p>Sensor Format: APS-C</p>
              <p>LCD screen size: 3.2 inch</p>
              <p>Size: 135.5 X 106.5 X 76 mm</p>
              <p>Storing media: SD/SDHC/SDXC </p>
              <p>Largest image resolution: 6000 X 4000</p>
              <p>Notice: only provide paraell imported version </p>
            </div>
            <div class="product-info smart-form">
              <div class="row">
                <div class="col-md-12"> 
                  <a href="{{ url_for('addTocart')}}" class="btn btn-danger">Add to cart</a>
                </div>
                <div class="col-md-12">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- end product -->
        
  </div>
  
    <div class="col-xs-12 col-md-6">
      <!-- First product box start here-->
      <div class="prod-info-column.column">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
              <div class="image"> 
                <img src="static/image/D850.jpg alt="194x228" class="img-responsive"> 
                <span class="tag2 HOT">
                  HOT
                </span> 
              </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
              <table>
                <tr>
                  <th>Product ID</th>
                  <td>32780</td>
                </tr>
                <tr>
                  <th>Product Name:</th>
                  <td>Nikon D850 Body</td></tr>
                <tr>
                  <th>Price:</th>
                  <td>$21200</td></tr>
              </table>
            <div class="description">
              <p>Weight (body only): 1005g</p>
              <p>Sensor's Effective Pixel: 45.70 mega pixel</p>
              <p>Sensor Format: 35mm Full Frame</p>
              <p>LCD screen size: 3.2 inch</p>
              <p>Size: 146 X 124 X 78.5 mm</p>
              <p>Storing media: XQD/SD/SDHC(UHS-II compatable)/SDXC(UHS-II compatable)</p>
              <p>Largest image resolution: 8256 X 5504</p>
            </div>
            <div class="product-info-form">
              <div class="row">
                <div class="col-md-12"> 
                  <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                </div>
                <div class="col-md-12">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- end product -->

  </div>
   
    <div class="col-xs-12 col-md-6">
    <!-- First product box start here-->
      <div class="prod-info-column.column">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
              <div class="image"> 
                <img src="static/image/D5600kit.jpg" alt="194x228" class="img-responsive"> 
                <span class="tag2 NEW">
                  NEW PRODUCT
                </span> 
              </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
              <table>
                  <tr>
                    <th>Product ID</th>
                    <td>32553</td>
                  </tr>
                  <tr>
                    <th>Product Name:</th>
                    <td>Nikon D5600 kit with 18-140mm VR</td></tr>
                  <tr>
                    <th>Price:</th>
                    <td>$5550</td></tr>
              </table>
            <div class="description">
              <p>Weight (with battery): 465g</p>
              <p>Sensor's Effective Pixel: 24.16 mega pixel</p>
              <p>Sensor Format: APS-C</p>
              <p>LCD screen size: 3.2 inch</p>
              <p>Size: 124 X 97 X 70 mm</p>
              <p>Storing media: SD/SDHC(UHS-I compatable)/SDXC(UHS-I compatable)</p>
              <p>Largest image resolution: 6000 X 4000</p>
            </div>
            <div class="product-info-form">
              <div class="row">
                <div class="col-md-12"> 
                  <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                </div>
                <div class="col-md-12">
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- end product -->

  </div>

    <div class="col-xs-12 col-md-6">
    <!-- First product box start here-->
      <div class="prod-info-column.column">
        <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="image"> 
              <img src="static/image/D3400.jpg" alt="194x228" class="img-responsive"> 
              <span class="tag2 NEW">
                NEW PRODUCT
              </span> 
            </div>
          </div>
         <div class="col-md-7 col-sm-12 col-xs-12">
            <table>
                <tr>
                  <th>Product ID</th>
                  <td>32240</td>
                </tr>
                <tr>
                  <th>Product Name:</th>
                  <td>Nikon D3400 Body</td></tr>
                <tr>
                  <th>Price:</th>
                  <td>$2450</td></tr>
            </table>
          <div class="description">
            <p>Weight (with battery): 395g</p>
            <p>Sensor's Effective Pixel: 24.16 mega pixel</p>
            <p>Sensor Format: APS-C</p>
            <p>LCD screen size: 3 inch</p>
            <p>Size: 124 X 98 X 75.5 mm</p>
            <p>Storing media: SD/SDHC/SDXC</p>
            <p>Largest image resolution: 6000 X 4000</p>
          </div>
          <div class="product-info-form">
            <div class="row">
              <div class="col-md-12"> 
                <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
              </div>
              <div class="col-md-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end product -->

  </div>

  <div class="col-xs-12 col-md-6">
    <!-- First product box start here-->
    <div class="prod-info-column.column">
      <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="image"> 
              <img src="static/image/D500kit.jpg" alt="194x228" class="img-responsive"> 
            </div>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12">
              <table>
                 <tr>
                   <th>Product ID</th>
                   <td>32866</td>
                 </tr>
                 <tr>
                   <th>Product Name:</th>
                   <td>Nikon D500 AF-S DX NIKKOR 16-80MM F/2.8-4E ED KIT </td></tr>
                 <tr>
                   <th>Price:</th>
                   <td>$14500</td></tr>
              </table>
          <div class="description">
            <p>Weight (with battery): 860g</p>
            <p>Sensor's Effective Pixel: 20.90 mega pixel</p>
            <p>Sensor Format: APS-C</p>
            <p>LCD screen size: 3.2 inch</p>
            <p>Size: 147 X 115 X 81 mm</p>
            <p>Storing media: XQD/SD/SDHC(UHS-II compatable)/SDXC(UHS-II compatable)</p>
            <p>Largest image resolution: 5568 X 3712</p><br><br>
            <p>Notice: Only provide paraell import</p>
          </div>
          <div class="product-info smart-form">
            <div class="row">
              <div class="col-md-12"> 
                <a href="{{ url_for('addTocart')}}" class="btn btn-danger">Add to cart</a>
              </div>
              <div class="col-md-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end product -->

  </div>
  
  
  <div class="col-xs-12 col-md-6">
    <!-- First product box start here-->
    <div class="prod-info-column.column">
      <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="image"> 
              <img src="static/image/D750kit.jpg" alt="194x228" class="img-responsive"> 
              <span class="tag2 NEW">
                HOT PRODUCT
              </span> 
            </div>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12">
              <table>
                 <tr>
                   <th>Product ID</th>
                   <td>32777</td>
                 </tr>
                 <tr>
                   <th>Product Name:</th>
                   <td>Nikon D750 with Nikon AF 50mm F1.8D</td></tr>
                 <tr>
                   <th>Price:</th>
                   <td>$8450</td></tr>
              </table>
          <div class="description">
            <p>Weight (with battery): 840g</p>
            <p>Sensor's Effective Pixel: 24.30 mega pixel</p>
            <p>Sensor Format: 35mm Full Frame</p>
            <p>LCD screen size: 3.2 inch</p>
            <p>Size: 140.5 X 113 X 78 mm</p>
            <p>Storing media: SD/SDHC/SDXC</p>
            <p>Largest image resolution: 6016 X 4016</p>
          </div>
          <div class="product-info-form">
            <div class="row">
              <div class="col-md-12"> 
                <a href="{{ url_for('addTocart')}}" class="btn btn-danger">Add to cart</a>
              </div>
              <div class="col-md-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end product -->

    

  </div>

 
  <div class="col-xs-12 col-md-6">
    <!-- First product box start here-->
    <div class="prod-info-column.column">
      <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="product-image"> 
              <img src="static/image/D810.jpg" alt="194x228" class="img-responsive"> 
              <span class="tag2 NEW">
                NEW PRODUCT
              </span> 
            </div>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12">
              <table>
                <tr>
                  <th>Product ID</th>
                  <td>32790</td>
                </tr>
                <tr>
                  <th>Product Name:</th>
                  <td>Nikon D810 body</td></tr>
                <tr>
                  <th>Price:</th>
                  <td>$13000</td></tr>
              </table>
          <div class="description">
            <p>Weight (body only): 880g</p>
            <p>Sensor's Effective Pixel: 36.30 mega pixel</p>
            <p>Sensor Format: 35mm Full Frame</p>
            <p>LCD screen size: 3.2 inch</p>
            <p>Size: 146 X 123 X 81.5 mm</p>
            <p>Storing media: CompactFlash (Type I), support FAT16、FAT32, UDMA / SD、SDHC and SDXC</p>
            <p>Largest image resolution: 7360 X 4912</p>
          </div>
          <div class="product-info smart-form">
            <div class="row">
              <div class="col-md-12"> 
                <a href="{{ url_for('addTocart')}}" class="btn btn-danger">Add to cart</a>
              </div>
              <div class="col-md-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end product -->

    </div>

  <div class="container">
    <div class="col-xs-12 col-md-6">
    <!-- First product box start here-->
    <div class="prod-info-column.column">
      <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="product-image"> 
              <img src="static/image/D5500kit.jpg" alt="194x228" class="img-responsive"> 
              <span class="tag2 NEW">
                NEW PRODUCT
              </span> 
            </div>
          </div>
         <div class="col-md-7 col-sm-12 col-xs-12">
              <table>
                <tr>
                  <th>Product ID</th>
                  <td>32544</td>
                </tr>
                <tr>
                  <th>Product Name:</th>
                  <td>Nikon D5500 KIT with 18-140mm F/3.5-5.6G ED VR </td></tr>
                <tr>
                  <th>Price:</th>
                  <td>$4320</td></tr>
              </table>
          <div class="description">
            <p>Weight (with battery): 500g</p>
            <p>Sensor's Effective Pixel: 24.20 mega pixel</p>
            <p>Sensor Format: APS-C</p>
            <p>LCD screen size: 3.2 inch</p>
            <p>Size: 124 X 97 X 70 mm</p>
            <p>Storing media: SD/SDHC(UHS-I compatable)/SDXC(UHS-I compatable)</p>
            <p>Largest image resolution: 6000 X 4000</p>
          </div>
          <div class="product-info-form">
            <div class="row">
              <div class="col-md-12"> 
                <a href="{{ url_for('addTocart')}}" class="btn btn-danger">Add to cart</a>
              </div>
              <div class="col-md-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end product -->

  </div>

    <div class="col-xs-12 col-md-6">
    <!-- First product box start here-->
    <div class="prod-info-main prod-wrap clearfix">
      <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="product-image"> 
              <img src="static/image/D7100kit.jpg" alt="194x228" class="img-responsive"> 
              <span class="tag2 NEW">
                NEW PRODUCT
              </span> 
            </div>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="details">
            <table>  
              <tr>
                <th>Product ID</th>
                <td>32833</td>
              </tr>
                <th>Product Name</th>
                <td>Nikon D7100 w/AF-S NIKKOR 16-85mm f/3.5-5.6G ED VR II Kit</td>                         
              </tr>
              <tr>
                <th>Price</th>
                <td>$8600</td>
              </tr>
            </table>   
          </div>
          <div class="description">
            <p>Weight (body only): 765g</p>
            <p>Sensor's Effective Pixel: 24.10 mega pixel</p>
            <p>Sensor Format: APS-C</p>
            <p>LCD screen size: 3.2 inch</p>
            <p>Size: 135.5 X 106.5 X 76 mm</p>
            <p>Storing media: SD/SDHC/SDXC </p>
            <p>Largest image resolution: 6000 X 4000</p>
            <br>
            <p>Notice: only provide authourized dealer import </p>
          </div>
          <div class="product-info smart-form">
            <div class="row">
              <div class="col-md-12"> 
                <a href="{{ url_for('addTocart')}}" class="btn btn-danger">Add to cart</a>
              </div>
              <div class="col-md-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end product -->

  </div>

  </div>
  </div>
</div>
{% endblock %}